*{
   font-family: 'Times New Roman', Times, serif;
}

body {
    max-width: 1020px;
    max-height: 100%;
    margin: auto;
}

.title {
    text-align: center;
    border-bottom: 2px solid #660000;
}

img {
    margin: 0px 10px 0px 10px;
}